* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.name, .final {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  opacity: 0.8;
  color: #273d46; }

.bgimage .description, .bgimage .description2 {
  width: 1000px;
  text-align: justify;
  font-size: 24px;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 50px;
  color: #45789A; }

.bgimage .bgblock1, .bgimage .bgblock1 .bgblock2 {
  margin: 0 auto; }

body {
  background-color: #E3F6CE; }

.name {
  margin-top: 50px; }

.bgimage {
  background: url("../img/Ellipse_1_copy2.png") 50% no-repeat; }
  .bgimage .description, .bgimage .description2 {
    margin-top: 50px;
    text-shadow: 1px 1px 11px #919DA5; }
  .bgimage .bgblock1 {
    margin-top: 50px;
    width: 840px;
    height: 560px;
    background: url("../img/bbg.jpg") 0 0/cover no-repeat;
    padding-top: 10px;
    -webkit-box-shadow: 0 3px 20px #90A02B;
    box-shadow: 0 3px 20px #90A02B; }
    .bgimage .bgblock1 .bgblock2 {
      width: 820px;
      height: 540px;
      background: url("../img/YDXJ0430.jpg") 0 0/cover no-repeat; }

.list {
  margin-top: 100px;
  margin-left: 450px; }
  .list .ls li:nth-child(2) {
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-style: italic;
    font-size: 22px; }
  .list .ls li:nth-child(3) {
    color: #8975EF;
    text-decoration: underline; }
  .list .ls li:nth-child(4) {
    color: #0B052D; }
  .list .ls li:nth-child(4):hover {
    text-decoration: underline; }
  .list .ls li:nth-child(5) {
    color: #2CF1BC;
    font-weight: bold; }
  .list .ls li:nth-child(5):hover {
    color: #F12CD7;
    font-weight: bold; }

li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  background: url("../img/check_icon.png") left no-repeat;
  padding: 0 0 0 45px;
  margin-bottom: 20px; }

.final {
  margin-top: 100px;
  margin-bottom: 50px; }
